{% extends "base.html" %}
{% block title %}
    {{ SITENAME }} - {{ page.title }}
{%endblock%}
{% block content %}
    <div class="back-button">
        <a class="back-button" href="/pages/{{ page.submenuslug }}/">
        back
        </a>
    </div>
    <div class="location polaroid"><span class="location-active"><a class="location-bar" href="/pages/{{ page.slug }}">{{ page.title }}</a></span> &lt; <a class="location-bar" href="/pages/{{ page.submenuslug }}">{{ page.submenucat }}</a> &lt; {{ page.menucat }}</div>
    {% import 'translations.html' as translations with context %}
    {{ translations.translations_for(page) }}

    <div id="polaroid">
        {{ page.content }}
    </div>

{% endblock %}
